
body{
    text-align: center;
    background-image: url(../img/background.jpg)
}


h1 {
    color: red
}

.board{
    background-color: yellow;
}
td{
    border-radius: 20px
    
}

td:hover{
    background-color: rgb(147, 236, 29);
    cursor: pointer;
}
table{
    margin: 30px auto;
    border-radius: 20px
}


.click {
    background-color:blue

}
.click:hover{
    background-color:blue
}
.data{
    height: 50px;
    width: 160px;
    color:rgb(226, 10, 10);
    text-align: center;
    display: inline-block;
    margin: 2px;
    background-color:white;
    border-radius: 20px;
    padding: 5px
}
.level{
    height: 80px;
    width: 330px;
    color:white;
    text-align: center;
    margin:0 auto;
    color: brown;
}
